nav{
  max-height: 75px;
  border: 1px solid #dfdfdf;
  overflow: hidden;
}

.header-logo{
/*   display: flex; */
  max-width: 95%;
  height: auto;
/*   display: inline-block; */
}

.div-header{
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.div-logo{
/*   max-width: 5%; */
  display: flex;
  width: 25%;
  padding: 10px;
}

.button-test{
  
}